<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.sdjzu.mapper.StudentInfoMapper">
    <select id="getStudentInfoById" resultType="StudentInfo">
        select *
        from student_info s
        where s.id = #{id}
    </select>

    <select id="getAllStudentInfos" resultType="StudentInfo">
        select *
        from student_info
    </select>

    <insert id="insertStudentInfo" parameterType="StudentInfo">
        <!--        <selectKey keyProperty="id" resultType="int" order="BEFORE">-->
        <!--            select last_insert_id()-->
        <!--        </selectKey>-->
        insert into student_info(id, class_name, faculty, duty) values(#{id}, #{className}, #{faculty}, #{duty})
    </insert>

    <delete id="deleteStudentInfoById">
        delete
        from student_info
        where id = #{id}
    </delete>

    <update id="updateStudentInfo" parameterType="StudentInfo">
        update student_info
        set class_name = #{className},
            faculty    = #{faculty},
            duty       = #{duty}
        where id = #{id}
    </update>
</mapper>